# Домашнее задание к лекции "Статистика. Практика"

## Задание 1

Вернемся к [набору данных о видеоиграх](https://github.com/obulygin/pyda_homeworks/blob/master/stat_case_study/video_games_sales.csv).

Ответьте на следующие вопросы:

1) Как критики относятся к спортивным играм?  
2) Критикам нравятся больше игры на PC или на PS4?  
3) Критикам больше нравятся стрелялки или стратегии?  

Для каждого вопроса:
- сформулируйте нулевую и альтернативную гипотезы;
- выберите пороговый уровень статистической значимости;
- опишите полученные результаты статистического теста.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats
import matplotlib.pyplot as plt

In [40]:
data_games = pd.read_csv('D:/DATA_SCIENCE/dataset/22_dz_stat_case_study/video_games_sales.csv')
data_games.head()

,Rank,Name,basename,Genre,ESRB_Rating,Platform,Publisher,Developer,VGChartz_Score,Critic_Score,...,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Year,Last_Update,url,status,Vgchartzscore,img_url
0,1,Wii Sports,wii-sports,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,7.7,...,NaN,NaN,NaN,NaN,2006.0,NaN,http://www.vgchartz.com/game/2667/wii-sports/?...,1,NaN,/games/boxart/full_2258645AmericaFrontccc.jpg
1,2,Super Mario Bros.,super-mario-bros,Platform,NaN,NES,Nintendo,Nintendo EAD,NaN,10.0,...,NaN,NaN,NaN,NaN,1985.0,NaN,http://www.vgchartz.com/game/6455/super-mario-...,1,NaN,/games/boxart/8972270ccc.jpg
2,3,Mario Kart Wii,mario-kart-wii,Racing,E,Wii,Nintendo,Nintendo EAD,NaN,8.2,...,NaN,NaN,NaN,NaN,2008.0,11th Apr 18,http://www.vgchartz.com/game/6968/mario-kart-w...,1,8.7,/games/boxart/full_8932480AmericaFrontccc.jpg
3,4,PlayerUnknown's Battlegrounds,playerunknowns-battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,...,NaN,NaN,NaN,NaN,2017.0,13th Nov 18,http://www.vgchartz.com/game/215988/playerunkn...,1,NaN,/games/boxart/full_8052843AmericaFrontccc.jpg
4,5,Wii Sports Resort,wii-sports-resort,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,8.0,...,NaN,NaN,NaN,NaN,2009.0,NaN,http://www.vgchartz.com/game/24656/wii-sports-...,1,8.8,/games/boxart/full_7295041AmericaFrontccc.jpg

In [65]:
data_score_sports = data_games[['Genre', 'Critic_Score']][(data_games['Genre'] == 'Sports')]
data_score_sports.fillna(value = float(data_score_sports.Critic_Score.median()), inplace = True)
data_score_sports

        Genre  Critic_Score
0      Sports           7.7
4      Sports           8.0
16     Sports           7.9
17     Sports           8.0
68     Sports           8.3
...       ...           ...
55671  Sports           7.6
55686  Sports           7.6
55688  Sports           7.6
55700  Sports           7.6
55719  Sports           7.6

[5244 rows x 2 columns]

In [ ]:
#  1) Как критики относятся к спортивным играм?
H0: средняя удовлетворенность критиков спортивными играми >= 75%
H1: средняя удовлетворенность критиков спортивными играми составляет менее 75%

In [66]:
from scipy import stats as st
alpha = 0.05
result = st.ttest_1samp(data_score_sports['Critic_Score'], 7.5)
print(result)

if (result.statistic < 0) & (result.pvalue / 2 < alpha):
    print('Отвергаем нулевую гипотезу, среднее меньше 7.5')
else:
    print('Не отвергаем нулевую нулевую гипотезу, критики удовлетворены спортивными играми')

Ttest_1sampResult(statistic=7.944358143363899, pvalue=2.370757300742726e-15)
Не отвергаем нулевую нулевую гипотезу, критики удовлетворены спортивными играми

In [76]:
# 2) Критикам нравятся больше игры на PC или на PS4?
data_score_pc = data_games[['Platform', 'Critic_Score']][(data_games['Platform'] == 'PC')]
data_score_pc.fillna(value = float(data_score_pc.Critic_Score.median()), inplace = True)
data_score_pc

      Platform  Critic_Score
3           PC           8.0
9           PC          10.0
22          PC           8.0
36          PC           9.3
55          PC           9.7
...        ...           ...
55779       PC           8.0
55782       PC           8.0
55786       PC           8.0
55787       PC           8.0
55788       PC           8.0

[10978 rows x 2 columns]

In [77]:
data_score_ps4 = data_games[['Platform', 'Critic_Score']][(data_games['Platform'] == 'PS4')]
data_score_ps4.fillna(value = float(data_score_ps4.Critic_Score.median()), inplace = True)
data_score_ps4

      Platform  Critic_Score
20         PS4           9.7
34         PS4           8.1
45         PS4           9.8
50         PS4           8.0
68         PS4           8.3
...        ...           ...
55767      PS4           8.1
55781      PS4           8.1
55783      PS4           8.1
55789      PS4           8.1
55791      PS4           8.1

[1755 rows x 2 columns]

* H0: средняя оценка критиков игр на PC и PS4 одинаковая
* H1: средние оценки критиков игр на PC и PS4 различаются
* Применяем двухвыборочный двухсторонний критерий.

In [78]:
alpha = 0.05
result = st.ttest_ind(data_score_pc['Critic_Score'], data_score_ps4['Critic_Score'], equal_var=False)
print(result)
if (result.pvalue < alpha):
    print('Отвергаем нулевую гипотезу, критики по разному относятся к играм на PC и PS4')
else:
    print('Не отвергаем нулевую гипотезу')

Ttest_indResult(statistic=-14.278950744877964, pvalue=1.0468662979668843e-44)
Отвергаем нулевую гипотезу, критики по разному относятся к играм на PC и PS4

Вывод: критикам больше нравятся игры на PS4 (statistic=-14.27)

In [ ]:
#  3) Критикам больше нравятся стрелялки или стратегии?

In [85]:
data_score_shooter = data_games[['Genre', 'Critic_Score']][(data_games['Genre'] == 'Shooter')]
data_score_shooter.fillna(value = float(data_score_shooter.Critic_Score.median()), inplace = True)
data_score_shooter

         Genre  Critic_Score
3      Shooter           7.5
10     Shooter           7.5
34     Shooter           7.5
36     Shooter           9.3
40     Shooter           8.7
...        ...           ...
55770  Shooter           7.5
55782  Shooter           7.5
55783  Shooter           7.5
55784  Shooter           7.5
55785  Shooter           7.5

[4586 rows x 2 columns]

In [86]:
data_score_strategy = data_games[['Genre', 'Critic_Score']][(data_games['Genre'] == 'Strategy')]
data_score_strategy.fillna(value = float(data_score_strategy.Critic_Score.median()), inplace = True)
data_score_strategy

          Genre  Critic_Score
86     Strategy           8.3
92     Strategy           8.7
185    Strategy           7.7
210    Strategy           7.5
252    Strategy           7.7
...         ...           ...
55648  Strategy           7.7
55687  Strategy           7.7
55708  Strategy           7.7
55723  Strategy           7.7
55763  Strategy           7.7

[3266 rows x 2 columns]

* H0: средняя оценка критиков игр стрелялок и стратегий одинаковая
* H1: средняя оценка критиков игр стрелялок и стратегий различаются
* Применяем двухвыборочный двухсторонний критерий.

In [87]:
alpha = 0.05
result = st.ttest_ind(data_score_shooter['Critic_Score'], data_score_strategy['Critic_Score'], equal_var=False)
print(result)
if (result.pvalue < alpha):
    print('Отвергаем нулевую гипотезу, критики по разному относятся к стрелялкам и стратегиям')
else:
    print('Не отвергаем нулевую гипотезу')

Ttest_indResult(statistic=-16.52884379633263, pvalue=2.3671484412556398e-60)
Отвергаем нулевую гипотезу, критики по разному относятся к стрелялкам и стратегиям

Вывод: критикам больше нравятся стратегии (statistic=-16.52)

## Задание 2

Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные [здесь](https://github.com/obulygin/pyda_homeworks/blob/master/stat_case_study/spam.csv)) по признаку спама. Для этого:

1) Приведите весь текст к нижнему регистру;  
2) Удалите мусорные символы;  
3) Удалите стоп-слова;  
4) Приведите все слова к нормальной форме;  
5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:  

```
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=cname)
```

Можете поэкспериментировать с параметрами [TfidfVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html);  
6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите `random_state=42`. Используйте [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html);  
7) Постройте модель [логистической регрессии](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html), укажите `random_state=42`, оцените ее точность на тестовых данных;  
8) Опишите результаты при помощи [confusion_matrix](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html?highlight=confusion_matrix#sklearn.metrics.confusion_matrix);  
9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [104]:
data_spam = pd.read_csv('D:/DATA_SCIENCE/dataset/22_dz_stat_case_study/spam.csv')
data_spam.head(8)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...

In [105]:
# 1) Приведите весь текст к нижнему регистру;
data_spam.Message = data_spam.Message.str.lower()
data_spam.head(8)

  Category                                            Message
0      ham  go until jurong point, crazy.. available only ...
1      ham                      ok lar... joking wif u oni...
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham  u dun say so early hor... u c already then say...
4      ham  nah i don't think he goes to usf, he lives aro...
5     spam  freemsg hey there darling it's been 3 week's n...
6      ham  even my brother is not like to speak with me. ...
7      ham  as per your request 'melle melle (oru minnamin...

In [106]:
# 2) Удалите мусорные символы;
import re
# Удаляем служебные символы
data_spam.Message = [re.sub('[\W_]+',' ', message) for message in data_spam.Message]
data_spam.head(8)

  Category                                            Message
0      ham  go until jurong point crazy available only in ...
1      ham                           ok lar joking wif u oni
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham       u dun say so early hor u c already then say
4      ham  nah i don t think he goes to usf he lives arou...
5     spam  freemsg hey there darling it s been 3 week s n...
6      ham  even my brother is not like to speak with me t...
7      ham  as per your request melle melle oru minnaminun...

In [107]:
# разделим на слова
data_spam.Message = [message.split() for message in data_spam.Message]
data_spam.head(5)

  Category                                            Message
0      ham  [go, until, jurong, point, crazy, available, o...
1      ham                     [ok, lar, joking, wif, u, oni]
2     spam  [free, entry, in, 2, a, wkly, comp, to, win, f...
3      ham  [u, dun, say, so, early, hor, u, c, already, t...
4      ham  [nah, i, don, t, think, he, goes, to, usf, he,...

In [113]:
# 3) Удалите стоп-слова;
import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords
stopwords_set = set(stopwords.words('english'))
data_spam.Message = [[word for word in message if word not in stopwords_set] for message in data_spam.Message]
data_spam.head(5)

  Category                                            Message
0      ham  [go, jurong, point, crazy, available, bugis, n...
1      ham                     [ok, lar, joking, wif, u, oni]
2     spam  [free, entry, 2, wkly, comp, win, fa, cup, fin...
3      ham      [u, dun, say, early, hor, u, c, already, say]
4      ham     [nah, think, goes, usf, lives, around, though]

In [117]:
# 4) Приведите все слова к нормальной форме;
# nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
data_spam.Message = [[wordnet_lemmatizer.lemmatize(word) for word in message] for message in data_spam.Message]
data_spam.head(5)

  Category                                            Message
0      ham  [go, jurong, point, crazy, available, bugis, n...
1      ham                     [ok, lar, joking, wif, u, oni]
2     spam  [free, entry, 2, wkly, comp, win, fa, cup, fin...
3      ham      [u, dun, say, early, hor, u, c, already, say]
4      ham        [nah, think, go, usf, life, around, though]

In [118]:
data_spam.Message = [' '.join(message) for message in data_spam.Message]
data_spam.head(5)

  Category                                            Message
0      ham  go jurong point crazy available bugis n great ...
1      ham                            ok lar joking wif u oni
2     spam  free entry 2 wkly comp win fa cup final tkts 2...
3      ham                u dun say early hor u c already say
4      ham                nah think go usf life around though

In [123]:
# 5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(data_spam.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names())

In [121]:
tfidf_matrix

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [125]:
# 6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split;
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(tfidf_matrix, data_spam.Category, test_size=0.30, random_state=42)

In [ ]:
#  7) Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных;

In [129]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=42)
model.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [134]:
y_pred = model.predict(X_test)
y_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'ham'], dtype=object)

In [ ]:
# 8) Опишите результаты при помощи confusion_matrix;

In [144]:
from sklearn.metrics import confusion_matrix
result = confusion_matrix(y_test, y_pred)
tn, fp, fn, tp = result[0][0], result[0][1], result[1][0], result[1][1]
tn, fp, fn, tp

(1445, 3, 66, 158)

In [152]:
print(f' Точность, доля правильных ответов(Accuracy): {(tn+tp)/(tn+tp+fn+fp)}')
print(f' Точность, доля правильно предсказанных ответов (Precision): {tp/(tp+fp)}')
print(f' Полнота, доля результатов предсказанных правильно (Recall): {tp/(tp+fn)}')
print(f' F-мера: {(tp/(tp+fn))*(tp/(tp+fp))*2 / ((tp/(tp+fn)) + (tp/(tp+fp)))}')

 Точность, доля правильных ответов(Accuracy): 0.958732057416268
 Точность, доля правильно предсказанных ответов (Precision): 0.9813664596273292
 Полнота, доля результатов предсказанных правильно (Recall): 0.7053571428571429
 F-мера: 0.8207792207792208

* Показатель F-меры показывает, что в среднем 82% предсказаний являются верными.

In [ ]:
# 9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [156]:
model.fit(tfidf_matrix, data_spam['Category'])
predict = model.predict(tfidf_matrix)
predict

array(['ham', 'ham', 'spam', ..., 'ham', 'ham', 'ham'], dtype=object)

In [159]:
df = pd.DataFrame()
df['Message'] = data_spam.Message
df['fact'] = data_spam.Category
df['pred'] = predict
df

                                                Message  fact  pred
0     go jurong point crazy available bugis n great ...   ham   ham
1                               ok lar joking wif u oni   ham   ham
2     free entry 2 wkly comp win fa cup final tkts 2...  spam  spam
3                   u dun say early hor u c already say   ham   ham
4                   nah think go usf life around though   ham   ham
...                                                 ...   ...   ...
5567  2nd time tried 2 contact u u 750 pound prize 2...  spam  spam
5568                        ü b going esplanade fr home   ham   ham
5569                               pity mood suggestion   ham   ham
5570  guy bitching acted like interested buying some...   ham   ham
5571                                     rofl true name   ham   ham

[5572 rows x 3 columns]

In [161]:
final = df[(df['fact'] != df['pred'])]
final

                                                Message  fact pred
5     freemsg hey darling 3 week word back like fun ...  spam  ham
19    england v macedonia dont miss goal team news t...  spam  ham
54    sm ac sptv new jersey devil detroit red wing p...  spam  ham
56    congrats 1 year special cinema pa 2 call 09061...  spam  ham
68               hear new divorce barbie come ken stuff  spam  ham
...                                                 ...   ...  ...
5449  latest news police station toilet stolen cop n...  spam  ham
5456  sparkling shopping break 45 per person call 01...  spam  ham
5466  http tm widelive com index wml id 820554ad0a17...  spam  ham
5537  want explicit sex 30 sec ring 02073162414 cost...  spam  ham
5540  asked 3mobile 0870 chatlines inclu free min in...  spam  ham

[156 rows x 3 columns]